@define-color	   black        #000000;
@define-color	   black-rgb    rgb(0, 0, 0);
@define-color      white        #ffffff;
@define-color      white-rgb    rgb(255, 255, 255);

* {
    font-family: "Ubuntu Nerd Font", monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 25px;
}

window#waybar {
    border-radius: 0px;
    border-color: @black;
    background: @black;
}


#workspaces button {
    padding: 0px;
    color: @white;
    margin-right: 0px;
}

#workspaces button.active {
    color: #808080;
}

#tray {
    margin-right: 8px;
    padding-right: 8px;
}

#workspaces {
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}


#clock {
    color: @white;
    margin-right: 10px;
    padding-right: 10px;
}


#pulseaudio {
    color: @white;
    margin-right: 5px;
    padding-right: 5px;

}

#language {
    color: @white;
    margin-right: 5px;
    padding-right: 5px;
  
}


