@define-color	    black        #000000;
@define-color	    black-rgb    rgb(0, 0, 0);
@define-color	    white        #ffffff;
@define-color	    white-rgb    rgb(255, 255, 255);

* {
	  font-family: "Ubuntu Nerd Font";
	  font-weight: bold;
    font-size: 14px;
		border-radius: 10px;
		padding: 0px;
		min-height: 28px;
}

window#waybar {
    background: transparent;
}


#workspaces button {
    margin-left: 3px;
		margin-right: 3px;
    color: @white;
}

#workspaces button.active {
		color: #808080;
}

#tray {
		margin-right: 20px;
		background: @black;
		border: 2px solid white;
		padding-left: 10px;
		padding-right: 10px;
}

#workspaces {
    margin-left: 20px;
    background: @black;
		border: 2px solid white;
		padding-left: 10px;
		padding-right: 10px;
}


#clock {
    color: @white;
    margin-right: 20px;
		background: @black;
		border: 2px solid white;
		padding-left: 10px;
		padding-right: 10px;
}


#pulseaudio {
    color: @white;
    margin-right: 20px;
		background: @black;
		border: 2px solid white;
		padding-left: 10px;
		padding-right: 10px;
}

#language {
    color: @white;
    margin-right: 20px;
		background: @black;
		border: 2px solid white;
		padding-left: 10px;
		padding-right: 10px;
}

#custom-music {
		background: @black;
		color: @white;
		border: 2px solid white;
		padding-left: 10px;
		padding-right: 10px;
}

