@define-color	  black      #000000;
@define-color	  black-rgb  rgb(0, 0, 0);
@define-color	  white      #ffffff;
@define-color	  white-rgb  rgb(255, 255, 255);
@define-color   bg         rgba(10, 10, 10, 0.9);


window {
  background-color: @bg
}

button {
  color: @white;
  background-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  margin: 15px;
}

button:active,
button:hover {
  border-color: @white;
  background-color: @black;
}


button:focus {
  border-color: @white;
  background-color: @black;
}

#lock {
  background-image: image(
    url("/home/sicsick/.config/wlogout/icons/lock.png"), 
    url("/home/sicsick/.config/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("/home/sicsick/.config/wlogout/icons/logout.png"), 
    url("/home/sicsick/.config/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("/home/sicsick/.config/wlogout/icons/suspend.png"),
    url("/home/sicsick/.config/wlogout/icons/suspend.png")
  );
}

#hibernate { 
   background-image: image( 
     url("/home/sicsick/.config/wlogout/icons/hibernate.png"),
     url("/home/sicsick/.config/wlogout/icons/hibernate.png") 
   ); 
} 

#shutdown {
  background-image: image(
    url("/home/sicsick/.config/wlogout/icons/shutdown.png"),
    url("/home/sicsick/.config/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("/home/sicsick/.config/wlogout/icons/reboot.png"), 
    url("/home/sicsick/.config/wlogout/icons/reboot.png")
  );
}
